body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: dimgrey;
    margin: 0;
    background-image: url(./img/background.png);
    background-size: cover;
    background-position: center;
}

h1 {
    margin: 16px;
    font-family: "Frijole", system-ui;
    color: darkred;
    font-size: 56px;
    font-weight: normal;
    text-shadow: 4px 2px 2px rgb(207, 166, 2);
}

canvas {
    background-color: black;
    border-radius: 16px;
    border: 6px solid sandybrown;
    display: block;
}

.d-none {
    display: none !important;
    pointer-events: none;
}

.hidden {
    display: none;
}

.d-block {
    display: block;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0, -80px);
}


.start-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    width: 720px;
    height: 480px;
    border-radius: 8px;
    background-image: url(./img/9_intro_outro_screens/start/startscreen_1.png);
    background-size: 100% 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-in-out;
    opacity: 1;

}

.fade-out {
    opacity: 0;
}

.start-screen img {
    width: 720px;
    height: 480px;
    border-radius: 8px;

}

.position-button {
    position: absolute;
    bottom: 200px;
    left: 277px;
}

.start-button {
    padding-top: 16px;
}

.btn {
    border-radius: 16px;
    text-shadow: 1px 1px 3px #666666;
    font-family: "Frijole", system-ui;
    color: #000000;
    font-size: 20px;
    background: #FF9600;
    padding: 5px 10px;
    border: solid #000000 4px;
    text-decoration: none;
    transition: transform 100ms ease-in, background 100ms ease-in;
}

.btn:hover {
    background: #f59003;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
}

.key-assignment {
    margin-top: 16px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 550px;
    height: 376px;
}

.key-assignment img {
    width: 100%;
    height: 100%;
}

.info-btn {
    margin: 16px;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    transition: transform 100ms ease-in, background 100ms ease-in;
    cursor: pointer;
}

.info-btn:hover:hover {
    transform: scale(1.1);
}

.info-btn img {
    width: 32px;
    height: 32px;
}

.info-btn-in-game {
    margin: 8px;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    transition: transform 100ms ease-in, background 100ms ease-in;
    cursor: pointer;
}

.info-btn-in-game img {
    width: 32px;
    height: 32px;
}

.info-btn-in-game:hover:hover {
    transform: scale(1.1);
}

#inGameHelpMenu {
    position: sticky;
    bottom: 610px;
}

.win {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    width: 720px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}

.lose {
    width: 720px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.win-img {

    width: 400px;
}

.lost-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}


.endscreen-win-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

.endscreen-lose-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    position: relative;
    top: -70px;
}

.hud {
    position: absolute;
    bottom: 10px;
    display: none;
    justify-content: space-between;
    width: 100%;

}


.panel-wrapper {
    display: flex;
    padding: 0px 24px;
    gap: 24px;
}

.panel-wrapper img {
    width: 40px;
}


@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        border: none;
    }

    .start-screen {
        width: 100%;
    }
}

@media only screen and (max-width: 950px) {
    canvas {
        display: block;
        border: none;
        width: 100%;
    }

    .start-screen {
        width: 100%;
    }

    .hud {
        display: flex;
    }

    .lose {
        height: 100vh;
        width: 100%;
    }

    .lost-img {
        height: 99vh;
        border-radius: 0;
    }

    .win {
        height: 100vh;
        width: 100%;
        border-radius: 0;
    }

    .win-img {
        width: 300px;
    }
}


@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        border-radius: 0px;
    }

    .content {
        position: relative;
        transform: none;
        width: 100%;
    }

    h1 {
        display: none;
    }

    .start-screen {
        height: 100%;
        border-radius: 0px;
    }

}
