body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: dimgrey;
    margin: 0;
    background-image: url(./img/background.png);
    background-size: cover;
}

h1 {
    margin: 16px;
    font-family: "Frijole", system-ui;
    color: darkred;
    font-size: 56px;
    font-weight: normal;
}

canvas {
    background-color: black;
    border-radius: 16px;
    border: 6px solid sandybrown;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform: translate(0, -80px);
}